@import "./variables.scss";
@import "./vueTransitions.scss";

@font-face {
  font-family: Montserrat;
  src: url("../../../fonts/Montserrat.ttf");
}

@font-face {
  font-family: Esteban;
  src: url("../../../fonts/Esteban.ttf");
}

* {
  scroll-behavior: smooth;
}

:root {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

html {
  height: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: Montserrat, Helvetica;
  color: $font-color-dark;
}

input {
  padding: 0 1rem;
  border: 1px solid #eeeeee;
  border-radius: 0.8rem;
  outline: none;
  background-color: $background-color-blue;
  color: $font-color-light;
  margin: 0.4rem 0;
  &:focus {
    outline: 2px solid $primary-color;
  }
  &:disabled {
    cursor: default;
    filter: grayscale(1);
  }
}

body {
  width: 100vw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

a {
  text-decoration: none;
}

#app {
  width: 100vw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

i {
  &.fa-arrow-down {
    // Income
    color: $color-green;
    background-color: $color-green-light;
  }
  &.fa-arrow-up {
    // Expense
    color: $color-red;
    background-color: $color-red-light;
  }
  &.fa-hand-holding-dollar {
    // Invest
    color: $color-yellow;
    background-color: $color-yellow-light;
  }
  &.fa-music {
    // Entertainment
    color: $color-blue;
    background-color: $color-blue-light;
  }
  &.fa-money-bills {
    // Bills
    color: $color-red;
    background-color: $color-red-light;
  }
}

@media (max-width: 800px), (max-height: 460px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  :root {
    font-size: 12px;
  }
}
