@import "./variables.scss";
@import "./vueTransitions.scss";

@font-face {
  font-family: Montserrat;
  src: url("../../../fonts/Montserrat.ttf");
}

@font-face {
  font-family: Esteban;
  src: url("../../../fonts/Esteban.ttf");
}

:root {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

html {
  height: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: Montserrat, Helvetica;
  color: #1e2438;
}

body {
  width: 100vw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

a {
  text-decoration: none;
}

#app {
  width: 100vw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  :root {
    font-size: 16px;
  }
}
