$background-color: #ffffff;
$background-color-dark: #f5f6fa;
$background-color-blue: #eeeeff;
$background-color-darker: #1e2438;
$primary-color: #6485ff;
$primary-color-dark: #364db1;
$secondary-color: #fff5d8;
$secondary-color-dark: #ffe07b;
$font-color-dark: #1e2438;
$font-color-light: #6f7ca1;
$details-color: #eeeeee; //mainly borders

$color-green: #05cca1;
$color-green-dark: #00b991;
$color-green-light: #e1f7f7;

$color-yellow: #ffc524;
$color-yellow-light: #fff5d9;

$color-red: #e94444;
$color-red-dark: #d43b3b;
$color-red-light: #ffeeee;

$color-blue: #2f89ff;
$color-blue-light: #cbe7ff;

$error-color: #ff2929;

$border: 2px solid $details-color;
