$background-color: #ffffff;
$background-color-dark: #f5f6fa;
$background-color-violet: #f2eeff;
$primary-color: #6485ff;
$primary-color-dark: #2d3f8e;
$secondary-color: #fff5d8;
$secondary-color-dark: #ffe07b;
$font-color-dark: #1e2438;
$font-color-light: #828a9e;
$details-color: #d8def0; //mainly borders

$color-green: #05ccbf;
$color-green-light: #e1f7f7;

$color-yellow: #fec116;
$color-yellow-light: #fff5d9;
