.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-vertical-enter-active,
.slide-vertical-leave-active {
  transition: all 0.5s ease;
}

.slide-vertical-enter-from {
  transform: translateY(10rem);
}

.slide-vertical-leave-to {
  transform: translateY(-10rem);
}

.notification-enter-active,
.notification-leave-active {
  transition: all 0.5s ease;
}

.notification-enter-from {
  transform: translateY(-10rem);
}

.notification-leave-to {
  transform: translateY(-10rem);
}

.slide-appcontainer-enter-active,
.slide-appcontainer-leave-active {
  transition: all 0.3s ease;
}

.slide-appcontainer-enter-from {
  transform: translateX(100rem);
}
.slide-appcontainer-leave-to {
  transform: translateX(-100rem);
}

.fade-scale-enter-active {
  animation: fade-scale 0.5s ease;
}
.fade-scale-leave-active {
  animation: fade-scale 0.5s reverse ease;
}

@keyframes fade-scale {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
