:root {
  font-size: 16px;
}

$background-color: #ffffff;
$background-color-dark: #f5f6fa;
$primary-color: #6485ff;
$primary-color-dark: #2d3f8e;
$secondary-color: #fff5d8;
$secondary-color-dark: #ffe07b;
$font-color-dark: #1e2438;
$font-color-light: #6f7ca1;
$details-color: #d8def0; //mainly borders

$color-green: #05ccbf;
$color-green-light: #e1f7f7;

$color-yellow: #fec116;
$color-yellow-light: #fff5d9;

body {
  min-width: 100vw;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#app {
  min-width: 100vw;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
}
